 body {
            margin-top: 170px;
            background-image: url("cyber.jpeg");

        }
        .login_header{
            text-align: center;
            color: #020024;

        }
        div {
            text-align: center;
            background-image: linear-gradient(to right, #020024, #46818e);
            height: 400px;
            width: 400px;
            margin-left: 460px;
            border-radius: 30px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .id {
            background: linear-gradient(90deg, rgba(49,73,121,1) 12%, rgba(37,193,179,1) 48%, rgba(70,94,142,1) 88%);  
            color: white;
            width: 350px;
            border-radius: 15px;
            padding: 10px;
            font-size: x-large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border: 0px solid white;
            margin-top: 20px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            cursor: pointer;
            

        }

        .id1 {
            border-radius: 35px;
            border-bottom-color: #fc5c7d;
            border-top: 1px solid white;
            border-left: 1x solid white;
            border-right: 0px solid white;
            width: 300px;
            padding: 10px;
            margin-top: 20px;
             box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

        }

        .co {
            color: red;
            font-size: 25px;
            padding: 5px;
        }

       .form{
            padding-top: 80px;
       }
